@import "tailwindcss";
@import "@nuxt/ui";

/* Import only required fonts */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&family=Noto+Sans+Khmer:wght@100..900&display=swap');

/* Set Noto Sans as default font */
@theme {
  --font-sans: 'Noto Sans', sans-serif;
  --font-khmer: 'Noto Sans Khmer', sans-serif;
}

@layer base {
  html {
    font-family: var(--font-sans); /* Noto Sans for everything by default */
  }
}
